.page
	header, footer
		background-color rgba(255, 235, 160, 0.8)
		display inline-block
		width 100%
	.header
		padding 1em
		position relative
	ul.nav
		list-style none
		margin 0
		padding 0
	.nav
		li
			float left
			padding 0 1em 1em 0
	.auth
		position absolute
		right 1em
		top 2em
	.content
		/*background-color rgba(254, 247, 221, 0.8)*/
		padding 1em
	.footer
		display inline-block
		.footer__item
			float left
			padding-right 1em
			padding 1em
	.copyright
		display inline-block
		float right
		padding 1em
